<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <connectionStrings>
        <add name="SQLEXPRESS"
             connectionString="Server=localhost\SQLEXPRESS;Initial Catalog=Cafeteria-IS;Integrated Security=True;"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>